body {
  background-color: #f1f1f1;
}

button {
  cursor: pointer;
}

div#body {
  margin: 20px auto;
  background-color: white;
  width: 600px;
  box-shadow: 0 0 30px #aaa;
}

div#pane-buttons {
  background-color: #f1f1f1;
}

div#pane-buttons button {
  min-width: 70px;
  min-height: 45px;
}

div#pane-buttons button.selected {
  filter: brightness(105%);
}

div.pane-root {
  margin: 20px;
  padding-bottom: 20px;
}

div.pane {
  overflow: hidden;
  transition: 0.2s;
  max-height: 0px;
  opacity: 0;
}

div.pane.visible {
  transition: 0.3s;
  max-height: 650px;
  opacity: 1.0;
}

div#divgrapharea {
  margin: 0px auto;
  width: 300px;
}
.grapharea {
	border:0px solid #222;
  border-width: 0px 0px 1px 1px;
}

div.pane-description {
  font-size: 11px;
  margin-top: 15px;
  color: #222;
}

#preset-buttons {
  margin: 0px auto 10px auto;
  width: 300px;
}

#preset-buttons button {
  height: 30px;
  width: 100px;
  filter: brightness(90%);
}
#preset-buttons button.selected {
  filter: brightness(105%);
}
#preset-buttons button img {
  transform: scale(9.5, 1.5) rotateZ(-90deg);
  filter: blur(0.1px);
}

#device-buttons {
  margin: 0px auto 10px auto;
  width: 340px;
}

#device-buttons button {
  height: 30px;
  width: 170px;
  font-size: 13px;
  font-weight: bolder;
  filter: brightness(90%);
}
#device-buttons button.selected {
  filter: brightness(105%);
}

#inner-pane {
  margin: 0px auto 0px auto;
  box-shadow: inset 0 0 4px #bbb;
  border: 1px solid #bbb;
  padding: 10px 20px;
}

#inner-pane.red-bg {
  background: linear-gradient(to bottom, rgba(213, 55, 13, 0.3), #fff 8%, #fff 92%, rgba(213, 55, 13, 0.3));
}
#inner-pane.green-bg {
  background: linear-gradient(to bottom, rgba(87, 210, 63, 0.3), #fff 8%, #fff 92%, rgba(87, 210, 63, 0.3));
}
#inner-pane.blue-bg {
  background: linear-gradient(to bottom, rgba(0, 102, 255, 0.3), #fff 8%, #fff 92%, rgba(0, 102, 255, 0.3));
}

.device-pane {
  transition:0.2s;
  opacity: 0;
  max-height: 0px;
  overflow:hidden;
}
.device-pane.visible {
  transition:0.3s;
  opacity: 1;
  max-height: 550px;
}

label {
  font-size: 13px;
}

#flick-sub-div {
  width: 350px; /* 400 - padding-left */
  margin: 0px auto;
  padding-left: 50px;
}

.slider-div {
  max-width: 400px;
}
#main-pane .slider-div {
  margin: 5px auto 5px auto;
}
#options-pane .slider-div {
  margin: 0px auto 10px 5px;
}

.slider-div label {
}
.slider-div div {
  float: right;
  font-size: 13px;
}
.slider-div input {
  margin: 0px auto;
  display: block;
  width: 95%;
  cursor: pointer;
}

.option-div {
  margin-bottom: 10px;
}
.option-div label {
  cursor: pointer;
}

textarea#blacklist {
	width:100%;
	height:150px;
}

div.divdona {
  font-size: 14px;
  border-top: 1px solid #aaa;
  padding: 20px
}
