#yass-tbb {
  list-style-image: url("chrome://yass/content/wheel.png");
}

#yass-tbb[yass-graybutton="true"] {
  list-style-image: url("chrome://yass/content/wheelgray.png");
}

toolbar[iconsize="small"] #yass-tbb {
  list-style-image: url("chrome://yass/content/wheel16.png");
}

toolbar[iconsize="small"] #yass-tbb[yass-graybutton="true"] {
  list-style-image: url("chrome://yass/content/wheel16gray.png");
}
